.LeftPanel{


    & .headExp{
        display: flex;
        width: 50%;
        

        & .expIcon{
            margin-right: 10px;
        }

        & .expTitle{
            font-weight: 400;
            color: rgb(84, 31, 20);
            font-weight: 500;
        }
    }

    & .examplesBtnCon{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        & button{
            width: 50%;
            min-height: 30px;
            border: none;
            border-radius: 5px;
            font-size: 1vw;
            color: white;
            cursor: pointer;
            background: orange;
            border-top: 1%;
            border-bottom: 1%;
            outline: none;
        }

        & button:active{
            transform: scale(0.95, 0.95);
        }
    }

    & .fileContainer{
        display: grid;
        grid-template-columns: 1fr;

        & .left{
            border: 1px solid rgb(233, 233, 233);
            background: #f9f9f9;
            display: flex;
            padding-left: 3px;
            padding-right: 3px;
            justify-content: space-between;
            align-items: center; 
            margin-bottom: 5px;

            & h3{
                font-weight: 400;
                padding: 5px;
                font-size: 1vw;
                height: 100%;
                display: flex;
                align-items: center;
            }

            & .activeFile{
                background: red;
            }

            & .delIcon{
                font-weight: 400;
                width: 1.25vw;
                fill: rgb(255, 128, 128);
                display: none;
            }

        }

        & .left:hover{
            background: rgb(224, 224, 224);
            cursor: pointer;
        }

        & .activeFile{
            background: rgb(172, 172, 215);
            color: white;
        }

        & .activeFile:hover{
            background: rgb(160, 160, 255);
        }
        
    }

    & .fileButtons{
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;

        & button{
            padding: 2%;
            width: 40%;
            margin-top: 1%;
            background: rgb(156, 156, 255);
            outline: none;
            box-shadow: 3px 3px 0 0px rgb(39, 36, 36);
            border: none;
            color: white;
            font-size: 1vw;
            letter-spacing: 1px;
        }

        & button:active{
            transform: scale(0.95, 0.95);
        }
    }

    & .refreshFiles{
        display: grid;
        place-items: center;
        margin-top: 10px;

        & .refreshIcon{
            font-size: 2vw;
            cursor: pointer;
            transition: 0.5s;
            height: 100%;
            fill: rgb(51, 37, 102);
        }

        & .refreshIcon:active{
            transform: scale(1.2) rotate(360deg);
        }

    
    }

    & .libSet{

        & .lib{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            width: 100%;
            justify-content: space-between;
            border: 1px solid rgb(233, 233, 233);
            background: #f9f9f9;
            padding-left: 3px;
            padding-right: 3px;


            & h2{
                font-size: 1vw;
                font-weight: 400;
                padding: 5px;
                height: 100%;
                display: flex;
                align-items: center;
            }

            & .libIcon{
                font-size: 1.25vw;
                cursor: pointer;
                transition: 0.5s;
                height: 100%;
                fill: rgb(51, 37, 102);
                
            }

            
        }

        & .lib:hover{
            background: rgb(182, 182, 182);
            cursor: pointer;
        }
    }

    
}
