* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.land {
  width: 100vw;
  display: flex;
  height: 100vh;
}
.land .left {
  width: 65%;
  padding: 1%;
  background: rgb(35, 37, 62);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}
.land .left .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
  opacity: 0;
}
.land .left .head img {
  width: 30%;
  min-width: 50px;
}
.land .left .head .title {
  font-weight: 500;
  font-size: 3.5vw;
  color: white;
}
.land .left .head .demo {
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
  left: 58vw;
  top: 97vh;
  font-weight: 400;
  font-size: 1vw;
}
.land .left .body {
  height: 30%;
  animation-name: paraAppear;
  animation-delay: 0.75s;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  position: relative;
  top: 10%;
}
.land .left .body h3 {
  font-size: 1.2vw;
  color: rgb(206, 206, 206);
  width: 80%;
  letter-spacing: 1px;
  line-height: 110%;
  position: relative;
  left: 10%;
  text-align: center;
  line-height: 200%;
  font-weight: 400;
}
.land .left .foot {
  width: 40%;
  height: 5.5vh;
  display: grid;
  place-items: center;
}
.land .left .foot button {
  width: 40%;
  height: 100%;
  background: orange;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.15vw;
  letter-spacing: 1px;
  transition: 0.1s;
  position: relative;
  top: 20%;
  animation-name: paraAppear;
  animation-delay: 0.95s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;
}
.land .left .foot button:hover {
  cursor: pointer;
  background: rgb(255, 192, 75);
}
.land .left .foot button:active {
  transform: scale(0.9, 0.9);
}
.land .right {
  width: 35%;
  padding: 2%;
  display: grid;
  place-items: center;
}
.land .right .form {
  width: 82.5%;
  height: 70%;
  box-shadow: 0 0 15px 0 rgb(139, 139, 139);
  border-radius: 20px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
}
.land .right .form .title {
  font-size: 2.75vw;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(35, 37, 62);
}
.land .right .form .inputs {
  margin-top: 3vh;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}
.land .right .form .inputs .inp {
  width: 100%;
  border: 1px solid rgb(22, 22, 22);
  display: flex;
  align-items: center;
  height: 7vh;
  margin-top: 5vh;
  padding-left: 4%;
  box-sizing: border-box;
  border-radius: 5px;
}
.land .right .form .inputs .inp input {
  border: none;
  outline: none;
  height: 100%;
  margin-left: 4%;
  width: 98%;
  font-size: 1.15vw;
  letter-spacing: 1px;
  border-radius: 5px;
}
.land .right .form .inputs .fogot {
  font-weight: 400;
  font-size: 1vw;
  color: rgb(58, 58, 255);
  text-decoration: underline;
  cursor: pointer;
}
.land .right .form .inputs .fogot {
  text-align: end;
}
.land .right .form .buttons {
  width: 100%;
}
.land .right .form .buttons button {
  height: 6vh;
  width: 100%;
  margin-bottom: 2vh;
}
.land .right .form .buttons h3.noAcc {
  margin-bottom: 1vh;
}
.land .right .form .buttons .noAcc {
  font-size: 1vw;
  font-weight: 400;
}
.land .right .form .buttons .login {
  background: orange;
  font-size: 1.25vw;
  border: 2px solid black;
  outline: none;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}
.land .right .form .buttons button:active {
  transform: scale(0.925, 0.925);
}
.land .right .form .buttons .create {
  background: rgb(255, 225, 168);
  font-size: 1.25vw;
  color: white;
}

.appear {
  animation: HeadAppear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  transition: 2s;
}

@keyframes HeadAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes paraAppear {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}/*# sourceMappingURL=land.css.map */